body{
    
    }
h1{
    font-size: 50px;
    font-family: 'Licorice', cursive;
}

h2{
    font-size: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.chocolate-color{
    color:chocolate;
}

.button-color{
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    background-color: rgb(160, 18, 160);
    border-radius: 25px;
    text-decoration: none;
}
.flexbox {
    padding-left: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    width: 50%;
}

.flexbox img{
    padding-bottom: 10%;
    padding-top: 30px;
    height: 400px;
    width:400px;
}


.flexible-container{
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
    margin-bottom: 50px;
    
}
.half-width img{
    height: 200px;
    width: 200px;
}

#display {
    border-radius: 10px 100px / 120px;
    width: 50%;
    float: left;
    margin-left: 4%;
    padding: 0 2% 2% 2%;
    border-image: linear-gradient(45deg, #040404, #0a0a0a);
    font-size: 20px;
}

.change-side{
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
}
.footer{
    display: block;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 10px 0px;
    box-shadow: 0px -5px 40px #fff;
    text-align: center;
} 
    